:root {
    --black: #222831;
    --grey: #393e46;
    --teal: #00adb5;
    --bg: #eeeeee;
}

/* navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
}
.nav-link.active {
    color: var(--bs-primary) !important;
}

.nav-link:hover {
    color: var(--bs-primary) !important;
}

.btn-login:hover {
    color: var(--bs-primary) !important;
}

.btn-register {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.btn-register:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border-color: rgba(255, 255, 255, 0.5);
}

/* Blog */
.post-body a {
    text-decoration: none;
}

.post-body a:hover {
    text-decoration: underline;
}

.post-body > h6 > a {
    color: inherit;
}

/* helper */
.object-cover {
    object-fit: cover;
}

section > p {
    text-align: start;
}

.post-content {
    max-width: 768px;
}

.post-content > * {
    font-size: 20px;
}
